<mat-toolbar color="primary">
    <button mat-button routerLink="/">
        Home
    </button>
    <button mat-button routerLink="/portfolio">
        Portfolio
    </button>

    <span class="spacer"></span>
    <a href="https://github.com/Tanilonn">
        <button mat-icon-button aria-label="Github icon" class="github">
            <mat-icon class="fab fa-github"></mat-icon>
        </button>
    </a>
    <a href="https://www.linkedin.com/in/eva-van-der-scheer-9974a3193/" class="linkedin">
        <button mat-icon-button aria-label="Linkedin icon">
            <mat-icon class="fab fa-linkedin"></mat-icon>
        </button>
    </a>
</mat-toolbar>


<div class="container">
    <mat-card color="accent" class="card" routerLink="/first-ring">
        <mat-card-header>
            <mat-card-title>Fun Zone</mat-card-title>
            <mat-card-subtitle>Play around in the fun zone of this website. Place cheese cubes on the moon. Go nuts.
                Work in progress.</mat-card-subtitle>
        </mat-card-header>
        <mat-card-actions>
            <a mat-button href="https://github.com/Tanilonn/maze"><mat-icon>code</mat-icon> Source</a>
            <button mat-button routerLink="/first-ring">Demo</button>
        </mat-card-actions>
    </mat-card>

    <mat-card color="accent" class="card" routerLink="/youtube">
        <mat-card-header>
            <mat-card-title>YouTube Lite</mat-card-title>
            <mat-card-subtitle>Mindful content consumption: only see recent videos of channels you're
                subscribed to. Uses the free YouTube Api.</mat-card-subtitle>
        </mat-card-header>
        <mat-card-actions>
            <a mat-button href="https://github.com/Tanilonn/maze/tree/main/src/app/youtube"><mat-icon>code</mat-icon>
                Source</a>
            <button mat-button routerLink="/youtube">Demo</button>
        </mat-card-actions>
    </mat-card>

    <a mat-card-link href="https://github.com/Tanilonn/NetSample" class="card-link">
        <mat-card class="card">
            <mat-card-header>
                <mat-card-title>.NET sample</mat-card-title>
                <mat-card-subtitle>A sample API where I've implemented various examples of design patterns and other
                    architecture principles.</mat-card-subtitle>
            </mat-card-header>
            <mat-card-actions>
                <a mat-button href="https://github.com/Tanilonn/NetSample"><mat-icon>code</mat-icon> Source</a>
            </mat-card-actions>
        </mat-card>
    </a>

    <a mat-card-link href="https://github.com/Tanilonn/AlohaMorta" class="card-link">
        <mat-card class="card">
            <mat-card-header>
                <mat-card-title>Alohamorta</mat-card-title>
                <mat-card-subtitle>A serious game about grief in a world where memories are uploaded to the
                    cloud.</mat-card-subtitle>
            </mat-card-header>
            <mat-card-actions>
                <a mat-button href="https://github.com/Tanilonn/AlohaMorta"><mat-icon>code</mat-icon> Source</a>
            </mat-card-actions>
        </mat-card>
    </a>

    <a mat-card-link href="https://github.com/ItsFiremanSam/Hedy-s-Tale" class="card-link">
        <mat-card class="card">
            <mat-card-header>
                <mat-card-title>Hedy</mat-card-title>
                <mat-card-subtitle>A game designed to teach kids to learn the programming language
                    Hedy.</mat-card-subtitle>
            </mat-card-header>
            <mat-card-actions>
                <a mat-button href="https://github.com/ItsFiremanSam/Hedy-s-Tale"><mat-icon>code</mat-icon> Source</a>
                <a mat-button href="https://sbdutchie.itch.io/hedys-tale">Demo</a>
            </mat-card-actions>
        </mat-card>
    </a>

    <a mat-card-link href="https://github.com/Tanilonn/CottageGarden" class="card-link">
        <mat-card class="card">
            <mat-card-header>
                <mat-card-title>Cottage Garden</mat-card-title>
                <mat-card-subtitle>A game where you design a garden to fit the needs of different animals.
                    (unfinished)</mat-card-subtitle>
            </mat-card-header>
            <mat-card-actions>
                <a mat-button href="https://github.com/Tanilonn/CottageGarden"><mat-icon>code</mat-icon> Source</a>
            </mat-card-actions>
        </mat-card>
    </a>

</div>