<p>
  <mat-toolbar color="primary">
    <button mat-button routerLink="/">
      Home
    </button>
    <button mat-button routerLink="/portfolio">
      Portfolio
    </button>

    <span class="spacer"></span>
    <a href="https://github.com/Tanilonn">
      <button mat-icon-button aria-label="Github icon" class="github">
        <mat-icon class="fab fa-github"></mat-icon>
      </button>
    </a>
    <a href="https://www.linkedin.com/in/eva-van-der-scheer-9974a3193/" class="linkedin">
      <button mat-icon-button aria-label="Linkedin icon">
        <mat-icon class="fab fa-linkedin"></mat-icon>
      </button>
    </a>
  </mat-toolbar>
</p>

<div class="container">
  <mat-card class="card">
    <mat-card-header>
      <div mat-card-avatar class="header-image"></div>
      <mat-card-title>Eva van der Scheer</mat-card-title>
      <mat-card-subtitle>Software Developer</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <p>
        👋 Hallo! Mijn naam is Eva. In juni 2022 ben ik afgestudeerd als software developer aan de Haagse Hogeschool.
        Sindsdien ben ik werkzaam bij Quintor als .NET consultant.
      </p>
      <p>
        💼 Mijn vaardigheden zijn onder andere:
      </p>
      <p>
        ✅ Backend Development: Zowel op school als tijdens mijn derdejaars stage en afstuderen heb ik gewerkt met .NET
        voor backend developement. Ik ben ervaren met het bouwen van .NET oplossingen en het onderhouden en updaten van
        bestaande applicaties. Hierbij heb ik veel aandacht voor code kwaliteit en testen.
      </p>
      <p>
        ✅ Databases (SQL): Bij een backend komt vrijwel altijd een database kijken. Ik heb ervaring met het code-first
        ontwerpen van databases met Entity Framework, het ontwerpen en onderhouden van databaseschema's en het schrijven
        en optimaliseren van SQL query's. Ook heb ik ervaring met Azure Storage.
      </p>
      <p>
        ✅ Front-end Development: Hoewel mijn ervaring voornamelijk ligt in backend development heb ik daarbij ook altijd
        gewerkt met een (Angular) front-end en kan ik me daar dan ook goed een weg in vinden. Uiteraard gaat dit altijd
        samen met goede unit en integratie testen.
      </p>
      <p>
        ✅ Testen: Voor het verzekeren van kwalitatief sterke en onderhoudbare code maak ik gebruik van verschillende
        vormen van testen. Ik heb ervaring met verschillende test frameworks waaronder xUnit, NUnit, Karma & Jasmine.
      </p>
      <p>
        ✅ Azure: Vorig jaar heb ik het Azure Developer Associate certificaat behaald. In de praktijk heb ik ervaring met
        Azure Devops en verschillende cloud services.
      </p>
      <p>
        🌼 Ik zet me graag in voor een betere wereld en hou me in mijn vrije tijd veel bezig met klimaat en
        duurzaamheid. Daarnaast hou ik van lezen en dansen.
      </p>
    </mat-card-content>
  </mat-card>

  <mat-card class="card">
    <mat-card-header>
      <div mat-card-avatar class="avatar">
        <mat-icon color="primary">school</mat-icon>
      </div>
      <mat-card-title>Education</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div class="content-item">
        <h3 class="title"><b>Bachelor of Software Development</b></h3>
        <p class="details">
          The Hague University of Applied Sciences <br>
          2018 - 2022
        </p>
      </div>
      <div class="content-item">
        <h3 class="title"><b>Azure Developer Associate</b></h3>
        <p class="details">
          AZ-204 Certificate
        </p>
      </div>
    </mat-card-content>
  </mat-card>

  <mat-card class="card">
    <mat-card-header>
      <div mat-card-avatar class="avatar">
        <mat-icon color="primary">work</mat-icon>
      </div>
      <mat-card-title>Experience</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div class="content-item">
        <h3 class="title"><b>.NET DevOps Engineer</b></h3>
        <p class="details">
          Quintor - Rabobank <br>
          Jul 2022 - present
        </p>
        <ul class="experience-list">
          <li>Quintor is a consultancy company, through which I’ve worked on various projects</li>
          <li>Developed a .NET API that registers and determines hierarchies of Rabobank clients</li>
          <li>Offered operational support, solved incidents, and implemented infrastructure as code</li>
        </ul>
      </div>
      <div class="content-item">
        <h3 class="title"><b>Full Stack Developer</b></h3>
        <p class="details">
          Quintor - Port of Amsterdam <br>
          Jul 2022 - present
        </p>
        <ul class="experience-list">
          <li>Worked on a web application and API for registering environmental taxes</li>
          <li>Used Azure DevOps for building and deploying code</li>
        </ul>
      </div>
    </mat-card-content>
  </mat-card>

  <mat-card class="card">
    <mat-card-header>
      <div mat-card-avatar class="avatar">
        <mat-icon color="primary">edit</mat-icon>
      </div>
      <mat-card-title>Projects</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <p class="details">
        During my studies and in my free time I've worked on several coding projects.
        You can find and demo these in the portfolio section of this website.
      </p>
    </mat-card-content>
  </mat-card>

  <mat-card class="card">
    <mat-card-header>
      <div mat-card-avatar class="avatar">
        <mat-icon color="primary">language</mat-icon>
      </div>
      <mat-card-title>Languages</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <ul class="experience-list">
        <li>Dutch (native)</li>
        <li>English (fluent)</li>
        <li>German (intermediate)</li>
        <li>French (intermediate)</li>
      </ul>
    </mat-card-content>
  </mat-card>

  <mat-card class="card">
    <mat-card-header>
      <div mat-card-avatar class="avatar">
        <mat-icon color="primary">code</mat-icon>
      </div>
      <mat-card-title>Tech stack</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div class="content-item">

        <h3 class="title"><b>Languages and frameworks</b></h3>
        <ul class="experience-list">
          <li>.NET 8 / C#</li>
          <li>Entity Framework </li>
          <li>Javascript / Angular</li>
          <li>HTML / CSS</li>
          <li>SQL</li>
          <li>Java</li>
        </ul>
      </div>
      <div class="content-item">
        <h3 class="title"><b>CI/CD</b></h3>
        <ul class="experience-list">
          <li>Bicep</li>
          <li>Nuke</li>
          <li>Git / Github / Gitlab</li>
          <li>Azure DevOps</li>
        </ul>
      </div>
      <div class="content-item">
        <h3 class="title"><b>Testing</b></h3>
        <ul class="experience-list">
          <li>XUnit</li>
          <li>Selenium WebDriver </li>
          <li>Specflow</li>
        </ul>
      </div>
    </mat-card-content>
  </mat-card>

  <mat-card class="card">
    <mat-card-header>
      <div mat-card-avatar class="avatar">
        <mat-icon color="primary">book</mat-icon>
      </div>
      <mat-card-title>Hobbies</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <p class="details">
        During my free time I love to read books, do yoga, dance, and play (board) games. My current favorites include: <br><br>
        ❤️ Mistborn (favorite book of 2024)<br>
        ❤️ Animal Crossing<br>
        ❤️ Genshin Impact<br>
        ❤️ Modern dance<br>
        ❤️ Pizza Marinara<br>
        ❤️ Flamecraft (board game)<br>
      </p>
    </mat-card-content>
  </mat-card>
</div>