<mat-toolbar color="primary">
  <button mat-button routerLink="/">
    Home
  </button>
  <button mat-button routerLink="/portfolio">
    Portfolio
  </button>

  <span class="spacer"></span>
  <button mat-icon-button class="language-button" (click)="toggleLanguage()">
    <span class="fi fi-{{ getLanguage() === 'en' ? 'nl' : 'us' }}"></span>
  </button>

  <a href="https://github.com/Tanilonn">
    <button mat-icon-button aria-label="Github icon" class="github">
      <mat-icon class="fab fa-github"></mat-icon>
    </button>
  </a>
  <a href="https://www.linkedin.com/in/eva-van-der-scheer-9974a3193/" class="linkedin">
    <button mat-icon-button aria-label="Linkedin icon">
      <mat-icon class="fab fa-linkedin"></mat-icon>
    </button>
  </a>
</mat-toolbar>


<div class="container">
  <mat-card class="card">
    <mat-card-header>
      <div mat-card-avatar class="header-image"></div>
      <mat-card-title>Eva van der Scheer</mat-card-title>
      <mat-card-subtitle>Software Developer</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <p>
        {{'intro' | translate}}
      </p>
      <p>
        💼 <strong>{{'key-skills' | translate}}</strong>
      </p>
      <p>
        ✅ <strong>Agile Software Development</strong>: {{'agile' | translate}}
      </p>
      <p>
        ✅ <strong>Backend Development</strong>: {{'backend' | translate}}
      </p>
      <p>
        ✅ <strong>Databases (SQL)</strong>: {{'databases' | translate}}
      </p>
      <p>
        ✅ <strong>Front-end Development</strong>: {{'frontend' | translate}}
      </p>
      <p>
        ✅ <strong>Testing</strong>: {{'testing' | translate}}
      </p>
      <p>
        ✅ <strong>Azure</strong>: {{'azure' | translate}}
      </p>
      <p>
        {{'world' | translate}}
      </p>
    </mat-card-content>
  </mat-card>

  <mat-card class="card">
    <mat-card-header>
      <div mat-card-avatar class="avatar">
        <mat-icon color="primary">school</mat-icon>
      </div>
      <mat-card-title class="card-title">{{'education.title' | translate}}</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div class="content-item">
        <h3 class="title"><b>Bachelor of Software Development</b></h3>
        <p class="details">
          {{'education.school' | translate}}<br>
          2018 - 2022
        </p>
      </div>
      <div class="content-item">
        <h3 class="title"><b>Azure Developer Associate</b></h3>
        <p class="details">
          AZ-204 Certificate
        </p>
      </div>
    </mat-card-content>
  </mat-card>

  <mat-card class="card">
    <mat-card-header>
      <div mat-card-avatar class="avatar">
        <mat-icon color="primary">work</mat-icon>
      </div>
      <mat-card-title class="card-title">{{'experience.title' | translate}}</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div class="content-item">
        <h3 class="title"><b>Consultant</b></h3>
        <p class="details">
          Quintor <br>
          {{'experience.consultant.date' | translate}}
        </p>
        <ul class="experience-list">
          <li>{{'experience.consultant.bullet1' | translate}}</li>
          <li>{{'experience.consultant.bullet2' | translate}}</li>
        </ul>
      </div>
      <div class="content-item">
        <h3 class="title"><b>.NET DevOps Engineer</b></h3>
        <p class="details">
          Quintor - Rabobank <br>
          {{'experience.devops.date' | translate}}
        </p>
        <ul class="experience-list">
          <li>{{'experience.devops.bullet1' | translate}}</li>
          <li>{{'experience.devops.bullet2' | translate}}</li>
        </ul>
      </div>
      <div class="content-item">
        <h3 class="title"><b>Full Stack Developer (Angular/.NET)</b></h3>
        <p class="details">
          Quintor - Port of Amsterdam <br>
          {{'experience.fullstack.date' | translate}}
        </p>
        <ul class="experience-list">
          <li>{{'experience.fullstack.bullet1' | translate}}</li>
          <li>{{'experience.fullstack.bullet2' | translate}}</li>
        </ul>
      </div>
    </mat-card-content>
  </mat-card>

  <mat-card class="card">
    <mat-card-header>
      <div mat-card-avatar class="avatar">
        <mat-icon color="primary">edit</mat-icon>
      </div>
      <mat-card-title class="card-title">{{'projects.title' | translate}}</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <p class="details">
        {{'projects.part1' | translate}} <a [routerLink]="['/portfolio']">portfolio</a> {{'projects.part2' | translate}}
      </p>
    </mat-card-content>
  </mat-card>

  <mat-card class="card">
    <mat-card-header>
      <div mat-card-avatar class="avatar">
        <mat-icon color="primary">language</mat-icon>
      </div>
      <mat-card-title class="card-title">{{'languages.title' | translate}}</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <ul class="experience-list">
        <li>{{'languages.dutch' | translate}}</li>
        <li>{{'languages.english' | translate}}</li>
        <li>{{'languages.french' | translate}}</li>
        <li>{{'languages.german' | translate}}</li>
      </ul>
    </mat-card-content>
  </mat-card>

  <mat-card class="card">
    <mat-card-header>
      <div mat-card-avatar class="avatar">
        <mat-icon color="primary">code</mat-icon>
      </div>
      <mat-card-title class="card-title">Tech stack</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div class="content-item">

        <h3 class="title"><b>Languages and frameworks</b></h3>
        <ul class="experience-list">
          <li>.NET 8 / C#</li>
          <li>Entity Framework </li>
          <li>LinQ</li>
          <li>Javascript / Typescript / Angular</li>
          <li>HTML / CSS</li>
          <li>SQL</li>
          <li>Java</li>
        </ul>
      </div>
      <div class="content-item">
        <h3 class="title"><b>CI/CD</b></h3>
        <ul class="experience-list">
          <li>Bicep</li>
          <li>Nuke</li>
          <li>Git / Github / Gitlab</li>
          <li>Azure DevOps</li>
          <li>Docker</li>
          <li>SonarQube</li>
          <li>Atlassian Jira</li>
        </ul>
      </div>
      <div class="content-item">
        <h3 class="title"><b>Testing</b></h3>
        <ul class="experience-list">
          <li>XUnit / NUnit / Moq</li>
          <li>Selenium WebDriver </li>
          <li>Karma / Jasmine </li>
          <li>Specflow</li>
        </ul>
      </div>
      <div class="content-item">
        <h3 class="title"><b>Azure</b></h3>
        <ul class="experience-list">
          <li>DevOps</li>
          <li>App Service</li>
          <li>Storage Accounts</li>
          <li>SQL Server</li>
          <li>Application Insights</li>
          <li>WebJobs</li>
        </ul>
      </div>
    </mat-card-content>
  </mat-card>

  <mat-card class="card">
    <mat-card-header>
      <div mat-card-avatar class="avatar">
        <mat-icon color="primary">book</mat-icon>
      </div>
      <mat-card-title class="card-title">{{'hobbies.title' | translate}}</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <p class="details">
        {{'hobbies.intro' | translate}}
        <br><br>
        ❤️ Mistborn (favorite book of 2024)<br>
        ❤️ Animal Crossing<br>
        ❤️ Genshin Impact<br>
        ❤️ {{'hobbies.modern' | translate}}<br>
        ❤️ Pizza Marinara<br>
        ❤️ Flamecraft (board game)<br>
        ❤️ {{'hobbies.crochet' | translate}}<br>
      </p>
    </mat-card-content>
  </mat-card>
</div>