<p>
  <mat-toolbar color="primary">
    <button mat-button routerLink="/">
      Home
    </button>
    <button mat-button routerLink="/portfolio">
      Portfolio
    </button>

    <span class="spacer"></span>
    <a href="https://github.com/Tanilonn">
    <button mat-icon-button aria-label="Github icon" class="github">
      <mat-icon class="fab fa-github"></mat-icon>
    </button>
    </a>
    <a href="https://www.linkedin.com/in/eva-van-der-scheer-9974a3193/" class="linkedin">
    <button mat-icon-button aria-label="Linkedin icon">
      <mat-icon class="fab fa-linkedin"></mat-icon>
    </button>
    </a>
  </mat-toolbar>
</p>

<div class="container">
  <mat-card class="card">
    <mat-card-header>
      <div mat-card-avatar class="header-image"></div>
      <mat-card-title>Eva van der Scheer</mat-card-title>
      <mat-card-subtitle>Software Developer</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <p>
        👋 Hallo! Mijn naam is Eva. In juni 2022 ben ik afgestudeerd als software developer aan de Haagse Hogeschool.
        Sindsdien ben ik werkzaam bij Quintor als .NET consultant.
      </p>
      <p>
        💼 Mijn vaardigheden zijn onder andere:
      </p>
      <p>
        ✅ Backend Development: Zowel op school als tijdens mijn derdejaars stage en afstuderen heb ik gewerkt met .NET
        voor backend developement. Ik ben ervaren met het bouwen van .NET oplossingen en het onderhouden en updaten van
        bestaande applicaties. Hierbij heb ik veel aandacht voor code kwaliteit en testen.
      </p>
      <p>
        ✅ Databases (SQL): Bij een backend komt vrijwel altijd een database kijken. Ik heb ervaring met het code-first
        ontwerpen van databases met Entity Framework, het ontwerpen en onderhouden van databaseschema's en het schrijven
        en optimaliseren van SQL query's. Ook heb ik ervaring met Azure Storage.
      </p>
      <p>
        ✅ Front-end Development: Hoewel mijn ervaring voornamelijk ligt in backend development heb ik daarbij ook altijd
        gewerkt met een (Angular) front-end en kan ik me daar dan ook goed een weg in vinden. Uiteraard gaat dit altijd
        samen met goede unit en integratie testen.
      </p>
      <p>
        ✅ Testen: Voor het verzekeren van kwalitatief sterke en onderhoudbare code maak ik gebruik van verschillende
        vormen van testen. Ik heb ervaring met verschillende test frameworks waaronder xUnit, NUnit, Karma & Jasmine.
      </p>
      <p>
        ✅ Azure: Vorig jaar heb ik het Azure Developer Associate certificaat behaald. In de praktijk heb ik ervaring met
        Azure Devops en verschillende cloud services.
      </p>
      <p>
        🌼 Ik zet me graag in voor een betere wereld en hou me in mijn vrije tijd veel bezig met klimaat en
        duurzaamheid. Daarnaast hou ik van lezen en dansen.
      </p>
    </mat-card-content>
  </mat-card>

  <mat-card class="card">
    <mat-card-header>
      <div mat-card-avatar class="avatar">      
        <mat-icon>school</mat-icon>
      </div>
      <mat-card-title>Education</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <p>
        Haagse Hogeschool
      </p>
    </mat-card-content>
  </mat-card>

  <mat-card class="card">
    <mat-card-header>
      <div mat-card-avatar class="avatar">      
        <mat-icon>work</mat-icon>
      </div>
      <mat-card-title>Experience</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <p>
        Quintor
      </p>
    </mat-card-content>
  </mat-card>

  <mat-card class="card">
    <mat-card-header>
      <div mat-card-avatar class="avatar">      
        <mat-icon>edit</mat-icon>
      </div>
      <mat-card-title>Projects</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <p>
        Hedy
      </p>
    </mat-card-content>
  </mat-card>
</div>