.body{
    background-color: black !important;
    color: white;
    width: 100%;
    height: 100%;
}

.hi{
    color: white;
    top: 50%;
    width: 100%;
    text-align: center;
    position: absolute;
}

.moon{
    margin: 64px;
    position: absolute;
}
